@font-face {
  font-family: 'fontawesome';
  font-weight: normal;
  font-style: normal;
}

.ps {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ps-behance:before {
  content: "\e900";
}
.ps-bookmark:before {
  content: "\f577";
}
.ps-compass:before {
  content: "\e902";
}
.ps-diamond:before {
  content: "\f3a5";
}
.ps-download:before {
  content: "\e904";
}
.ps-facebook:before {
  content: "\f39e";
}
.ps-fingerprint:before {
  content: "\e906";
}
.ps-flag:before {
  content: "\e907";
}
.tg:before {
  content: "\f3fe";
}
.ps-home:before {
  content: "\f031";
}
.ps-id-card:before {
  content: "\e90a";
}
.ps-layers:before {
  content: "\e90b";
}
.ps-left-arrow:before {
  content: "\e90c";
}
.ps-list:before {
  content: "\e90d";
}
.ps-multiply:before {
  content: "\e90e";
}
.ps-notebook:before {
  content: "\e90f";
}
.ps-notification:before {
  content: "\f1fa";
}
.ps-right-arrow:before {
  content: "\e911";
}
.ps-star:before {
  content: "\f05a";
}
.vk:before {
  content: "\f189";
}
.ps-umbrella:before {
  content: "\e914";
}
.ps-worldwide:before {
  content: "\e915";
}

/* Localized */
